<!-- <div style="margin-top: 70px"> -->
<div class="row justify-content-center" style="margin-top: 70px">
  <div class="col-md-10" style="margin-bottom: 30px;float:left">
    <span style="font-size: 25px;font-weight: 500">Welcome <span class="BaseFontColor">{{Username}} !</span></span>
    <button type="button" *ngIf="Username=='null'" class="btn BaseBorderColor BaseFontColor" style="margin-left: 10px" (click)="NavigateToProfile()">Edit Name</button>
  </div>

  <div class="col-lg-10">
    <div class="row">

      <div class="col-md-12">

        <div class="row">
          <div class="col-md-3">
            <div class="d-flex" style=" display: block ">
              <div style=" padding: 5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #868686 ">
                  <img src="../../../assets/Image/Icons/piggy-bank-white.png" style=" width: 32px; height: 32px"
                    alt=" userimage" />

                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left;color: #868686 ">Total Chit</h6>
                <h3 style=" text-align: left ">{{TotalChits}}</h3>

              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="d-flex" style="display: block ">
              <div style=" padding:5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #868686 ">
                  <img src="../../../assets/Image/Icons/emi.png" style=" width: 32px; height: 32px" alt=" userimage" />
                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left; color: #868686 ">Savings</h6>
                <h3 style=" text-align: left ">{{TotalSavings}}</h3>
                <!-- <span style=" text-align: left ">-</span> -->
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex" style="display: block ">
              <div style=" padding:5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #868686 ">
                  <img src="../../../assets/Image/Icons/emi.png" style=" width: 32px; height: 32px" alt=" userimage" />
                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left; color: #868686 ">Loan Availed</h6>
                <h3 style=" text-align: left ">{{TotalLoansAvailed}}</h3>

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex" style=" display: block ">
              <div style=" padding: 5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #9999aa ">
                  <img src="../../../assets/Image/Icons/multiple-users.png" style=" width: 32px; height: 32px"
                    alt=" userimage" />

                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left; color: #999a9a ">Profit/Loss</h6>
                <h3 class="SecondBlack" style=" text-align: left ">-/-</h3>
              </div>
            </div>
          </div>

        </div>


        <!-- Length of Array is {{IsTransactionDone.length}} -->

      </div>


      <!-- <div>
        {
        this.state.isTenureActive === 1 ?
        <ChitDetail /> : null
        }
      </div>
      <div>
        {
        this.state.isTenureActive === 2 ?
        <ChitDetail /> : null
        }
      </div>
      <div>
        {
        this.state.isTenureActive === 3 ?
        <ChitDetail /> : null
        }
      </div> -->


    </div>
    <!-- <div class="col-lg-10">
        {this.SearchCard()}
      </div> -->

    <!-- <div class="col-md-12">
        <h5>Subscription</h5>
       
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let Subscriptions of UserService.Subscription">

          <service-card [ServiceData]="Subscriptions"></service-card>
        </div>

      </div>


      <div class="col-md-12">
        <h5>Gift Cards</h5>
       
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let GiftCards of UserService.GiftCard">

          <service-card [ServiceData]="GiftCards"></service-card>
        </div>
      </div>
      <div class="col-md-12">
        <h6>Warantee/Gaurantee</h6>
        
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let WG of UserService.WG">

          <service-card [ServiceData]="WG"></service-card>
        </div>
      </div>



      <div class="col-md-12">
        <h5>Self</h5>
      
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let Selfs of UserService.Self">
          <service-card [ServiceData]="Selfs"></service-card>
        </div>
      </div> -->
    <hr>
    <div class="col-md-12">
      <h6>Chit Details</h6>

    </div>
    <div class="row" *ngIf="!IsChitNull">
      <div class="col-md-4" *ngFor="let ChitDetails of ChitDetailsList">

        <chit-card [ServiceData]="ChitDetails"></chit-card>
      </div>
    </div>
    <div *ngIf="IsChitNull" style="margin-top: 10px;text-align:center">
      <h5 style="font-family:cursive">No Chits Found</h5>
    </div>

    <hr>


    <div class="col-md-12">
      <h6>Up Coming Chit Details</h6>

    </div>
    <div class="row" *ngIf="!IsUpcomingChitNull">
      <div class="col-md-4" *ngFor="let upcomingchitdetails of UpComingChitDetailsList">

        <chit-card [ServiceData]="upcomingchitdetails"></chit-card>
      </div>
    </div>
    <div *ngIf="IsUpcomingChitNull" style="margin-top: 10px;text-align:center">
      <h5 style="font-family:cursive">No Up Coming Chits Found</h5>
    </div>

    <hr>

    
    <div class="col-md-12">
      <h6>Invited Chit</h6>

    </div>
    <div class="row" *ngIf="InvitedChitList.length!=0">
      <div class="col-md-4" *ngFor="let invitedchitdetails of InvitedChitList">
        <chit-card [ServiceData]="invitedchitdetails"></chit-card>
      </div>
    </div>
    <div *ngIf="InvitedChitList.length==0" style="margin-top: 10px;text-align:center">
      <h5 style="font-family:cursive">No Invite Chits Found</h5>
    </div>

  </div>
</div>