<div class="ModelDesign">
  <div class="d-inline-flex">
    <div class="p-2">
      <input type="button" class="btn" value="Accepted" [ngClass]="CurrentTab==1?'CurrentTab':'NotCurrentTab'" (click)="ChangeTab(1)" />
    </div>

    <div class="p-2" *ngIf="IsOrganiser==true && IsChitStarted==false">
      <input type="button" class="btn" value="Send Request" [ngClass]="CurrentTab==2?'CurrentTab':'NotCurrentTab'" (click)="ChangeTab(2)" />
    </div>
  </div>
  <div *ngIf="CurrentTab==2">
    <!-- <input type="button" class="btn btn-success btn-block" value="Invite Friends" /> -->
    <div class="card">
        <p style="color:black">Please Search by Name or Number</p>
      <input type="text" class="form-control" placeholder="Enter User Name"
        (input)="onSearchChange($event.target.value)" [(ngModel)]="SearchTerm" />
    </div>
    <div>
      <span *ngIf="NoResultsFound" style="color:coral">No Results Found</span>
      <table class="table" style="margin-top: 15px;">
        <tr class="BaseBackgroundColor" style="color: whitesmoke">
          <td>Name</td>
          <td>UserId</td>
          <td>Phone Number</td>
          <td>Invite</td>
        </tr>
        <tr *ngFor="let search of SearchNameResult">
            <td>{{search.username}}</td>
            <td>{{search.userid}}</td>
            <td>{{search.phonenumber}}</td>
            <td><input type="button" class="btn BaseBorderColor BaseFontColor" value="Invite" (click)="SendInvitation(search.userid)" /></td>
          </tr>
      </table>
      <!-- <div class="d-flex justify-content-between" *ngFor="let search of SearchNameResult">
        <div class="p-2" style="color: black">{{search.username}}</div>
        <div class="p-2" style="color: black">{{search.userid}}</div>
        <div class="p-2">
          <input type="button" class="btn BaseBorderColor BaseFontColor" value="Invite" (click)="SendInvitation(search.userid)" />
        </div>
      </div> -->
    </div>
  </div>

  <div class="" *ngIf="CurrentTab==1">
    <table class="table">
      <tr class="BaseBackgroundColor" style="color: whitesmoke">
        <td>Username</td>
        <td>Phone Number</td>   
        <td>Status</td>
      </tr>
      <tr *ngFor="let userlist of InvitationUserList">
        <td>{{userlist.Username}}</td>
        <td>{{userlist.Phonenumber}}</td>
        <td>
          <span *ngIf="userlist.Statusid==1" class="status accepted">Accepted</span>
          <span *ngIf="userlist.Statusid==0" class="status invited">Invited</span>
          <span *ngIf="userlist.Statusid==2" class="status rejected">Rejected</span>
        </td>
      </tr>
    </table>
  </div>


  <ng-content></ng-content>
</div>