<div class="ACard col-md-12">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex" style=" display: block ">
        <div style=" padding: 5px ">
        </div>
        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left;color: #868686 ">Start Date</h6>
          <span style=" text-align: left ">{{tenureDetails.startdate| date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex" style="display: block ">
        <div style=" padding:5px ">

        </div>

        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left; color: #868686 ">End Date</h6>
          <span style=" text-align: left ">{{tenureDetails.enddate| date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex" style="display: block ">
        <div style="padding:5px ">
        </div>
        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left; color: #868686 ">Loan</h6>
          <span style="text-align: left">
            <span>{{tenureDetails.bidamount}}</span>
            <input type="button" *ngIf="IsChitStarted" class="btn BaseBorderColor BaseFontColor" value="Take Loan" />
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex" style=" display: block ">
        <div style="padding:5px">
        </div>

        <div class="flex-grow-1" style=" padding: 5px 10px">
          <h6 style=" text-align: left; color: #999a9a ">EMI</h6>
          <div *ngIf="IsTransactionDone?.length==0">
            <h3 class="SecondBlack" style=" text-align: left;color:#464646">{{tenureDetails.EMIAmount}}</h3>
            <input type="button" readonly="IsChitStarted" *ngIf="!IsChitStarted" class="btn BaseBorderColor BaseFontColor"
              (click)="PayEMI()" value="Pay EMI" />
          </div>
          <div *ngIf="IsTransactionDone?.length==1">
             <span style="color: hotpink;font-weight: bold">You Paid</span> 
             <p> Payment Paid on {{IsTransactionDone[0].Createddate | date : 'mediumDate' }}</p>
          </div>
        </div>

      

      </div>
    </div>
  </div>

</div>