<div class="ACard col-md-12" *ngIf="IsTransactionDone?.length==0">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex" style=" display: block ">
        <div style=" padding: 5px ">
        </div>
        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left;color: #868686 ">Start Date</h6>
          <span style=" text-align: left ">{{TenureDetails.startdate| date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex" style="display: block ">
        <div style=" padding:5px ">

        </div>

        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left; color: #868686 ">End Date</h6>
          <span style=" text-align: left ">{{TenureDetails.enddate| date : 'mediumDate'}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex" style="display: block ">
        <div style="padding:5px ">
        </div>
        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left; color: #868686 ">Loan</h6>
          <span style="text-align: left">
            <span>{{TenureDetails.bidamount}}</span>
            <input type="button" *ngIf="IsChitStarted" class="btn btn-success" value="Take Loan" />
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="d-flex" style=" display: block ">
        <div style=" padding: 5px ">

        </div>

        <div class="flex-grow-1" style=" padding: 5px 10px ">
          <h6 style=" text-align: left; color: #999a9a ">EMI</h6>
          <h3 class="SecondBlack" style=" text-align: left ">{{chitDetails.emi}}</h3>
          <input type="button" readonly="IsChitStarted" *ngIf="!IsChitStarted" class="btn btn-success" (click)="PayEMI()"
            value="Pay EMI" />
        </div>
      </div>
    </div>
  </div>

</div>