<div class="Sidenav BaseBackgroundColor" style="color: whitesmoke !important">
  <!-- <img class="navbar-brand" src="http://acmsocc.github.io/2016/assets/img/googlelogo_color_324x112dp.png"
    id="logo_custom" width="10%" alt="logo" /> -->
  <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon "></span>
  </button>
  <div class=" " id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
     
      <li class="sidenav-item">
        <a routerLink="Dashboard" class="nav-link" style="color: whitesmoke !important">Home</a>
      </li>

      <li class="sidenav-item">
        <a routerLink="Transaction" class="nav-link" style="color: whitesmoke !important">Transaction</a>
      </li>
      <li class="sidenav-item">
        <a routerLink="Notification" class="nav-link" style="color: whitesmoke !important">Notification
          <span class="notificationalert" *ngIf="NotificationCount!=null">{{NotificationCount}}</span>
          <span class="notificationalert" *ngIf="NotificationCount==null">0</span>
        </a>
      </li>
      <li class="sidenav-item">
        <a routerLink="Profile" class="nav-link" style="color: whitesmoke !important">Profile</a>
      </li>
      <li class="sidenav-item">
        <input routerLink="CreateChit" type="button" class="btn"
          style="color: whitesmoke !important;border:1px solid whitesmoke" value="Create Chit" />
      </li>
      <li class="sidenav-item bottomfixednav">
        <a routerLink="/Login" class="nav-link" (click)="Logout()" style="color: whitesmoke !important">Log Out</a>
      </li>
    </ul>
  </div>
</div>