<div class="row justify-content-center" style="margin-top:70px">
 
  <div class="col-lg-10" style="background-color:white">
      <h6 style="margin-bottom: 20px">Your Transaction</h6>
    <table class="table">
      <thead>
        <tr>
          <th>Service Provider</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Through</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usage of transactionList">
          <td><img src="../../../assets/Image/Common/user1.jpg"
              style="width:32px; height:32px; border-radius:50%" /><span
              style=" padding-left:10px">You {{username}}</span></td>
          <td>{{usage.amount}}</td>
          <td>{{usage.createddate| date : 'mediumDate'}}</td>
          <td>{{usage.paymentmodename}}</td>
          <td>{{usage.paidstatusname}}</td>
          <td>
            <button type=" button" class="btn">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>