<div class="row justify-content-center" style="margin-top:70px">

  <div class="col-lg-10" style="background-color:white">
    <h6 style="margin-bottom: 20px">Your Transaction</h6>
    <table class="table">
      <thead>
        <tr>
          <th>You</th>
          <th>Chit</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Through</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usage of transactionList">
          <td><img src="../../../assets/Image/Common/user1.jpg"
              style="width:32px; height:32px; border-radius:50%" /><span style=" padding-left:10px">You
              <!-- {{username}} -->
            </span></td>
          <td>{{usage.chitname}}</td>
          <td>{{usage.amount}}</td>
          <td>{{usage.createddate| date : 'mediumDate'}}</td>
          <td>{{usage.paymentmodename}}</td>
          <td>{{usage.paymentstatusname}}</td>
          <td>
            <button type=" button" class="btn btn-basic">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h6 style="margin-bottom: 20px">BID Transaction</h6>
    <div class="ACard">
      <div style="padding: 10px">
        <span>You have raised loan of Rs: 45000 for "Dhivya Test 1" Chit</span>
        <button type="button" class="btn btn2 btn-basic" data-toggle="collapse" style="float: right"
          data-target="#demo">more</button>
      </div>

      <div id="demo" class="collapse show">
        <div class="timeline">
          <div class="listrow">
            <span class="liststatus success"></span>
            <div class="listcontent"> <span>Applied Loan for:</span><span> 45,000</span> <span> on Date</span></div>
          </div>
          <div class="listrow">
            <span class="liststatus"></span>
            <span class="listcontent"> Total Acceptence Rate : 45 % </span>
          </div>
          <div class="listrow">
            <span class="liststatus"></span>
            <span class="listcontent"> Bid Won : Yes </span>
          </div>
          <div class="listrow">
            <span class="liststatus"></span>
            <span class="listcontent"> Money Transferred : Yes </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>