<div class="row">
    <div class="col-md-4" (click)="GoToChit(InvitationList.chitid)" *ngFor="let InvitationList of invitationlist">
        <div class="d-flex card ACard flex-column">
            <div class="d-flex ">
                <div class="p-2 pl-20" style="margin-bottom:auto;margin-top:auto ">
                    <div>

                    </div>
                </div>

                <div class="p-2 flex-grow-1 pl-20">
                    <div class="d-flex flex-column">
                        <div class="p-15 Varela" style="font-size:20px; color:#404040 ">{{InvitationList.chitname}}
                        </div>
                        <div class="p-15 Varela SecondBlack" style="word-break:break-all ">
                            <div class="p-15 Varela SecondBlack"><span>{{InvitationList.emi}}</span></div>
                        </div>
                        <div class="p-15 Varela SecondBlack">
                            <span>{{InvitationList.amount}}</span>
                        </div>
                        <div class="p-15 Varela SecondBlack">
                            <span>{{InvitationList.tenure}}</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="d-flex justify-content-end mb-2">
               
                <div class="p-2">
                    <span class=payspan style="color:#acacac" (click)="UpdateInvitation(InvitationList.connectionid,3)">Decline</span>
                </div>



                <div class="p-2">
                    <span class=payspanCircle style="color:#00922c" (click)="UpdateInvitation(InvitationList.connectionid,1)">Accept</span>
                </div>
            </div>

        </div>



    </div>
    <div *ngIf="invitationlist?.length==0">
        <span>There is no Chit invitation for you !</span>
    </div>
</div>