<div class="row justify-content-center" style="margin-top: 70px " *ngIf="chitDetails!=undefined">
  <div class="col-lg-10">

    <button type="button" class="btn" (click)="NavigateToDashboard()">back</button>


    <div class="d-flex" style=" margin-top: 20px;margin-bottom: 20px ">
      <div class="p-2 mr-auto">
        <h3 style=" display: inline-block ">{{chitDetails.chitname}}</h3>
        <span style=" margin-left: 10px" class="Raised">{{chitDetails.chitid}}</span>
        
      </div>
      <div>
        <input type="button" *ngIf="connectionStatus.statusid==0" class="btn btn-success"
          value="Accepted"  style="margin-left:10px"
          (click)="UpdateInvitation(connectionStatus.connectionid,1)"
          />
        <input type="button" *ngIf="connectionStatus.statusid==0" class="btn btn-danger" value="Reject"
        (click)="UpdateInvitation(connectionStatus.connectionid,3)" style="margin-left:10px"
        />
      </div>
      <!-- <div class="p-2">
        <input type="button" class="btn btn-primary" (click)="open()" value="Term Chart" style="margin-left:10px">
        <input type=" button" class="btn btn-primary" value="Transaction Summary" style="margin-left:10px">
        <input type=" button" class="btn btn-primary" value="Earnings Report" style="margin-left:10px">
        <button class="btn btn-primary" (click)="openModal('userlist')">Chit Users</button>

      </div> -->

    </div>

    <div class="row">

      <div class="col-md-12">

        <div class="row">
          <div class="col-md-3">
            <div class="d-flex" style=" display: block ">
              <div style=" padding: 5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #868686 ">
                  <img src="../../../assets/Image/Icons/piggy-bank-white.png" style=" width: 32px; height: 32px"
                    alt=" userimage" />

                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left;color: #868686 ">CHIT AMOUNT</h6>
                <h3 class="SecondBlack" style=" text-align: left;">{{chitDetails.amount}}</h3>
                <span style=" text-align: left "> tenure * emi</span>
              </div>
            </div>
          </div>


          <div class="col-md-3">
            <div class="d-flex" style="display: block ">
              <div style=" padding:5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #868686 ">
                  <img src="../../../assets/Image/Icons/emi.png" style=" width: 32px; height: 32px" alt=" userimage" />
                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left; color: #868686 ">EMI</h6>
                <h3 class="SecondBlack"  style=" text-align: left ">{{chitDetails.emi}}</h3>
                <span style=" text-align: left ">-</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex" style="display: block ">
              <div style=" padding:5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #868686 ">
                  <img src="../../../assets/Image/Icons/emi.png" style=" width: 32px; height: 32px" alt=" userimage" />
                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left; color: #868686 ">Tenure</h6>
                <h3 class="SecondBlack"  style=" text-align: left ">{{chitDetails.tenure}}</h3>
                <span style=" text-align: left ">{{chitDetails.tenure}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex" style=" display: block ">
              <div style=" padding: 5px ">
                <div
                  style=" margin-top: 20px; margin-bottom: 10px; padding: 10px 10px; border-radius: 25px; background-color: #9999aa ">
                  <img src="../../../assets/Image/Icons/multiple-users.png" style=" width: 32px; height: 32px"
                    alt=" userimage" />

                </div>
              </div>

              <div class="flex-grow-1" style=" padding: 5px 10px ">
                <h6 style=" text-align: left; color: #999a9a ">Members</h6>
                <h3 class="SecondBlack" style=" text-align: left ">{{chitDetails.membercount}}</h3>
                <span>{{TotalAcceptedInvite}} accepted</span>
              </div>
            </div>
          </div>

        </div>


        <!-- {/* Chit Tenure */} -->





        <div class="d-flex flex-row" style="margin-top: 20px;margin-bottom:20px">
          <div class="p-2"><span class="status" [ngClass]="CurrentTab==1?'CurrentTab':'NotCurrentTab'"
              (click)="SwitchTab(1)" *ngIf="this.connectionStatus.statusid==1">Tenure</span></div>
          <div class="p-2"><span class="status" [ngClass]="CurrentTab==2?'CurrentTab':'NotCurrentTab'"
              (click)="SwitchTab(2)">Members List</span></div>
          <div class="p-2"><span class="status" [ngClass]="CurrentTab==3?'CurrentTab':'NotCurrentTab'"
              (click)="SwitchTab(3)">Time Table</span></div>
        </div>

        <div class="col-md-12" *ngIf="CurrentTab==1">

          <div class="p-3  flex-wrap" style="margin-bottom: 10px ">
            <div class="row" style=" margin-bottom: 10px ">
              <span class="SecondBlack" style=" font-size: 20px ">Tenures</span>
            </div>
            <div class="d-flex">
              <div class="nonactiveTerm flex-fill" [ngClass]="{
              'activeTerm':termgroupid === TermGroupList.termgroupid            
            }" (click)="ChangeTenure(TermGroupList.termgroupid)" *ngFor="let TermGroupList of chitTerm; let i = index">
                <div style=" margin: auto; display: table" class="">
                  <span [ngClass]="{
                  'text-completed':TermGroupList.DiffDate === 'Completed',
                  'text-current':TermGroupList.DiffDate === 'Current',
                  'text-future':TermGroupList.DiffDate === 'Future',
                  'text-lastday':TermGroupList.DiffDate === 'Last Day'
                }" style=" cursor: pointer; display: table-cell; vertical-align: middle; font-size: 22px ">#{{i+1}}
                  </span>
                  <span *ngIf="TermGroupList.DiffDate === 'Current'"
                    style="font-size: 10px;font-weight: 600;color:rgb(0, 231, 0)">Current</span>
                </div>
                <!-- <span class="LoanRaisedStatus">Loaned</span> -->

              </div>


            </div>
          </div>
          <tenure-card 
          [IsBidDoneForCurrentTerm]="IsBidDoneForCurrentTerm" 
          [tenureDetails]="tenureDetails"
          [IsTransactionDone]="IsTransactionDone" 
          [chitid]="chitid" 
          [termgroupid]="termgroupid"
          [IsBidDoneByUser]="IsBidDoneByUser"
            ></tenure-card>
          <!-- Length of Array is {{IsTransactionDone.length}} -->


 
          <transaction-table-payment [transactiondetails]="tenureTransactionList"></transaction-table-payment>
          <div class="">
            <bid-table [bidlist]="tenureBidList"></bid-table>
          </div>

        </div>

        <div class="col-md-12" *ngIf="CurrentTab==2">
          <chit-friend-list [IsOrganiser]="IsOrganiser" [IsChitStarted]="IsChitStarted"></chit-friend-list>
        </div>
        <div class="col-md-12" *ngIf="CurrentTab==3">
          <chit-time-table></chit-time-table>
        </div>
      </div>
      <!-- <div>
        {
        this.state.isTenureActive === 1 ?
        <ChitDetail /> : null
        }
      </div>
      <div>
        {
        this.state.isTenureActive === 2 ?
        <ChitDetail /> : null
        }
      </div>
      <div>
        {
        this.state.isTenureActive === 3 ?
        <ChitDetail /> : null
        }
      </div> -->


    </div>


  </div>
</div>

<jw-modal id="userlist" [UserList]="userList">
  <button class="btn btn-danger" (click)="closeModal('userlist');">Close</button>
</jw-modal>