<div style="margin-top: 70px">
  <div class="col-md-10">
    <mat-form-field class="example-full-width" style="width:100%;">
      <input matInput placeholder="Enter Chit Name" [(ngModel)]="chitname">
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-md-3">
      <mat-form-field class="example-full-width" style="width:100%;">
        <input  type="number" matInput placeholder="Enter Chit EMI" [(ngModel)]="chitemi" (ngModelChange)="changeGrandValue()">
        <span matPrefix>&#8377;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width" style="width:100%;">
        <input type="number" matInput placeholder="Enter Chit Period" [(ngModel)]="chitduration" (ngModelChange)="changeGrandValue()">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="example-full-width" style="width:100%;">
        <input type="number" matInput placeholder="Total Members" [(ngModel)]="chitmembers">
      </mat-form-field>
    </div>
    <div class="col-md-3">

      <mat-form-field>
        <input [(ngModel)]="startdate" [min]="today" matInput [matDatepicker]="startdatecalendar" placeholder="Choose a Start date">
        <mat-datepicker-toggle matSuffix [for]="startdatecalendar"></mat-datepicker-toggle>
        <mat-datepicker  #startdatecalendar></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div>
    <div class="col-md-3">
      <mat-form-field>
        <mat-label>Gap Between Chits</mat-label>
        <mat-select [(value)]="chitdurationgap">
          <mat-option value="15">15 Days</mat-option>
          <mat-option value="30">30 Days</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <p>You selected: {{selected}}</p> -->
    </div>
    <div class="col-md-3">
      <label for="chitamount">Your Total Amount is : {{totalValue}}</label>
      <label id="chitamount"></label>
    </div>
    <div class="col-md-3">
      <button mat-button (click)="GenerateTempCalendar()">Generate Calendar</button>
    </div>
    <div class="col-md-3">
      <button class="btn ctn-success" mat-button (click)="CreateChit()">Create Chit</button>
    </div>
  </div>
<table class="table">
  <tr>
    <td>Term Number</td>
    <td>Start Date</td>
    <td>End Date</td>
  </tr>
  <tr *ngFor="let temp of TempDates; let i=index">
      <td>{{temp.DurationID}}</td>
    <td>{{temp.StartDate}}</td>
    <td>{{temp.EndDate}}</td>
    <td><input type="number" class="form-control" name="{{i}}" placeholder="Bid Value" value="1000" (ngModelChange)="changeValueofArray(i,$event)" [(ngModel)]="bidValue[i].BidAmount" /> </td>
    <!-- <td><input type="number" class="form-control" name="{{i}}" placeholder="Bid Value" [value]="1000" (ngModel)="changeValueofArray(i,$event)" /> </td> -->
    <td> <button mat-button (click)="EditBid()">Generate Calendar</button></td>
  </tr>
</table>
  <!-- <div class="row" *ngFor="let temp of TempDates; let i=index">
    <div class="col-md-4">
      <mat-form-field>
        <input [(ngModel)]="temp.StartDate" matInput [matDatepicker]="si" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="si"></mat-datepicker-toggle>
        <mat-datepicker #si></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field>
        <input [(ngModel)]="temp.EndDate" matInput [matDatepicker]="ei" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="ei"></mat-datepicker-toggle>
        <mat-datepicker #ei></mat-datepicker>
      </mat-form-field>
    </div>
  </div> -->


</div>